node_modules
# Keep environment variables out of version control
.env

# Playwright artifacts
playwright-report/
 test-results/
 reports/
 traces/
 screenshots/

# Allure artifacts
allure-results/
allure-report/

# Builds and caches
/dist/
/.cache/
